
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

body{
    height: 200vh;
    background-color: #ff98f1;
}

#header_title{
    font-size: 36px;
    font-family: "Segoe Script", cursive;
    font-weight: bold;
    margin-top: -20px;
}

#top_container, #middle_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    gap: 10px;
}

#background img{
    width: 45%;
    max-width: 300px;
    height: auto;
    display: block;
}

#input_outer{
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#input_inner{
    width: 90%;
    height: 70%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    outline: none;
    background-color: white;
}

#enter_name{
    width: 150px;
    background-color: lightblue;
    border: 2px dotted black;
    border-radius: 5px;
}

#enter_name:hover{
    background-color: rgb(63, 170, 205);
}

#enter_name:active{
    background-color: rgb(3, 115, 153);
}

#middle_content{
    top: -20%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#dudu2{
    width: 200px;
    height: 180px;
    object-fit: contain;
}

#sentence{
    font-size: 24px;
    font-family: "Segoe Script", cursive;
    font-weight: bold;
}

#buttons{
    padding-top: 20px;
}

#yes_btn, #no_btn{
    border: 2px solid black;
    border-radius: 5px;
}

#yes_btn{
    background-color: rgb(74, 168, 74);
}

#no_btn{
    background-color: rgb(195, 43, 43);
}

@media (max-width: 768px) {
    #background img {
        max-width: 200px; /* Adjusts image size for small screens */
    }

    #input_outer {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    #top_container {
        padding: 20px; /* Adds space for better spacing */
    }
}
